arxiv==1.2.0
atomicwrites==1.4.0
attrs==21.2.0
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
feedparser==6.0.2
google-api-core==1.28.0
google-auth==1.30.1
google-cloud-texttospeech==2.3.0
googleapis-common-protos==1.53.0
grpcio==1.38.0
idna==2.10
iniconfig==1.1.1
packaging==20.9
-e git+https://github.com/musikalkemist/paperwhisperer.git@8dff21c8cc727d091fd15eea914b0c8236edecdd#egg=paperwhisperer
pluggy==0.13.1
proto-plus==1.18.1
protobuf==3.17.1
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymed==0.8.9
pyparsing==2.4.7
pytest==6.2.4
python-dotenv==0.17.1
pytz==2021.1
requests==2.25.1
rsa==4.7.2
sgmllib3k==1.0.0
six==1.16.0
toml==0.10.2
urllib3==1.26.5
